/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00aced;
}

/* Hero Section */
.hero {
    height: 60vh;
    background: linear-gradient(135deg, #0a0a0a, #333);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.btn {
    margin-top: auto;
    display: inline-block;
    padding: 8px 14px;
    background: #00aced;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 15px;
}
.btn:hover {
    background: #0080b3;
}

/* General Section */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    margin-bottom: 20px;
}

/* Project Cards */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

.project-title {
    background: #00aced;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 100%;
}

.project-card {
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: scale(1.03);
}

